body {
    font-family: Poppins, sans-serif;
    background: rgb(178,231,232);
    background: linear-gradient(90deg, rgba(178,231,232,1) 0%, rgba(48,77,99,1) 100%);
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

form {
    margin: 20px auto;
    width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type=text], input[type=date] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type=submit], input[type=reset] {
    padding: 10px 20px;
    background-color: #8FB9AA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #555;
}

table {
    margin: 20px auto;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

th {
    background-color: #8FB9AA;
    color: #fff;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-done {
    text-decoration: line-through;
    color: #999;
}

.task-not-done {
    color: #333;
}

